<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiteBot</title>
    {% include "includes/imports.html" %}
</head>
<body style="background-color: {{background|safe}}; color: {{text|safe}};">
    {% include "includes/navbar.html" %}
    
    <div class="container jumbotron" style="background-color: {{background|safe}};margin-top: 70px;">
    	<script>
    		function config(module, column){
				var XHR = ("onload" in new XMLHttpRequest()) ? XMLHttpRequest : XDomainRequest;
				var xhr = new XHR();
				var data = document.forms[column].elements[column].value
				xhr.open('GET', "http://127.0.0.1:5000/configure_complete?table="+module+"&column="+column+"&data="+data, true);
				xhr.onload = function() {
					alert( this.responseText );
				}
				xhr.onerror = function() {
					alert( 'Ошибка ' + this.status );
				}
				xhr.send();
			}
			function delModule(module){
				var res=confirm("Вы уверены что хотите удалить модуль?");
				if(res){
					var XHR = ("onload" in new XMLHttpRequest()) ? XMLHttpRequest : XDomainRequest;
					var xhr = new XHR();
					xhr.open('GET', "http://127.0.0.1:5000/delete_module?name="+module, true);
					xhr.onload = function() {
						alert( this.responseText );
					}
					xhr.onerror = function() {
						alert( 'Ошибка ' + this.status );
					}
					xhr.send();
				} 
			}
			function installModule(module){
				var XHR = ("onload" in new XMLHttpRequest()) ? XMLHttpRequest : XDomainRequest;
				var xhr = new XHR();
				xhr.open('GET', "http://127.0.0.1:5000/install_module?module="+module, true);
				xhr.onload = function() {
					alert( this.responseText );
				}
				xhr.onerror = function() {
					alert( 'Ошибка ' + this.status );
				}
				xhr.send(); 
			}
			function addRepo(){
				var XHR = ("onload" in new XMLHttpRequest()) ? XMLHttpRequest : XDomainRequest;
				var xhr = new XHR();
				var repo = document.forms["repo"].elements["repo"].value
				xhr.open('GET', "http://127.0.0.1:5000/repo?add="+repo, true);
				xhr.onload = function() {
					alert( this.responseText );
				}
				xhr.onerror = function() {
					alert( 'Ошибка ' + this.status );
				}
				xhr.send();
			}
			function delRepo(repo){
				var res=confirm("Вы уверены что хотите удалить репозиторий?");
				if(res){
					var XHR = ("onload" in new XMLHttpRequest()) ? XMLHttpRequest : XDomainRequest;
					var xhr = new XHR();
					xhr.open('GET', "http://127.0.0.1:5000/repo?del="+repo, true);
					xhr.onload = function() {
						alert( this.responseText );
					}
					xhr.onerror = function() {
						alert( 'Ошибка ' + this.status );
					}
					xhr.send();
				} 
			}
		</script>
         	
         {{module|safe}}
        	
    </div>

</body>
</html>