<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiteBot</title>
    {% include "includes/imports.html" %}
</head>
<body style="background-color: {{background|safe}}; color: {{text|safe}};">
    {% include "includes/navbar.html" %}
    
    <div class="container jumbotron" style="background-color: {{background|safe}}; margin-top: 70px;">
        <h1 class="display-4">LiteBot</h1>
        <p class="lead">Первый раз пользуетесь веб панелью? Перейдите в основную панель бота и начните настраивать бота!</p>
        <hr class="my-4">
        <a class="btn btn-{{all|safe}}" href="/panel" type="button">Панель</a>
    </div>

</body>
</html>